.about {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  scroll-margin-top: 20rem;
  background-color:  rgba(0, 0, 0, 0.962);

}
.about .about__left h2{
  color: deeppink;
  
} 
.about .about__left {

  background-color:  rgba(0, 0, 0, 0.962);
  color: darkmagenta;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 40rem;
  flex: 1;
}

.about__right p{
  font-size: 20px;
  border: 3px solid rgba(255, 255, 255, 0.796);
  padding: 2px;
  border-radius: 20px 20px 20px 20px;    
  font-family: Arial, Helvetica, sans-serif;
}
#comeco{
  text-align: center;
  font-size: 25px;
  color: rgb(255, 0, 208);
  border: 3px solid rgba(255, 255, 255, 0.796);
  padding: 2px;
  border-radius: 20px 20px 20px 20px;    
  font-family: Arial, Helvetica, sans-serif;
}
.about .about__left p {
  margin: 1rem 0 2rem;
}

.about .about__left ul {
  margin-left: -1.2rem;
}

.about .about__left ul li {
  display: inline-block;
}

.about .about__left ul li a {
  display: inline-block;
  padding: 1rem;
}

.about .about__right {
  flex: 1;
  max-width: 66rem;
}

@media only screen and (max-width: 768px) {
  .about {
    flex-direction: column;
    align-items: center;
  }

  .about .about__left {
    max-width: 66rem;
    text-align: center;
  }

  .about .about__right {
    text-align: center;
  }
}
